
.DS_Store
*.pyc
*.sqlite
resources/databases/dat_files_converted/IAGL_55A689B6_Arcade.json
resources/databases/dat_files_raw/arcade_italia/FB Alpha (Arcade Italia, Arcade only, v0.2.97.44).json
resources/databases/dat_files_raw/arcade_italia/MAME (Arcade Italia, Arcade only, v.207).json
resources/databases/dat_files_raw/arcade_italia/MAME 0.214.json
resources/databases/dat_files_raw/launchbox/Metadata.xml
resources/databases/dat_files_raw/thegamesdb/dump_102419/thegamesdb_all_devs.json
resources/databases/dat_files_raw/thegamesdb/dump_102419/thegamesdb_all_games.json
resources/databases/dat_files_raw/thegamesdb/dump_102419/thegamesdb_all_genres.json
resources/databases/dat_files_raw/thegamesdb/dump_102419/thegamesdb_all_platforms.json
resources/databases/dat_files_raw/thegamesdb/dump_102419/thegamesdb_all_pubs.json
resources/databases/dat_files_converted/IAGL_7BEAA2AE_Arcade.json
resources/databases/dat_files_converted/IAGL_DDD7BCE3_all.json
resources/databases/dat_files_converted/IAGL_dump_102419_all.json
resources/databases/dat_files_converted/IAGL_dump_102419_Arcade.json
